.onboarding-container {
	color: var(--main-light);

	&__glow {
		position: relative;
		min-height: 380px; 
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}

	&__head {
		text-align: center;
	}

	&__description {
		text-align: center;
	}
}
