@include font-face('Cormorant Garamond', 'CormorantGaramond/cormorant-garamond-v21-cyrillic_latin-700', 700, normal);
@include font-face(
	'Cormorant Garamond',
	'CormorantGaramond/cormorant-garamond-v21-cyrillic_latin-regular',
	400,
	normal
);

:root {
	--bg-dark: #07090e;

	--main-light: #fff;
	--main-orange: #ff7a50;
	--main-purple: #9D00FF;
}

html {
	background-color: var(--bg-dark);
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
	padding: 0;
}
